@font-face{
  font-family: "Lato";
  src: url("https://fonts.googleapis.com/css?family=Lato&display=swap")
}

body{
  font-family: 'Lato';
  color: #253B56;

}


.App{
  display: flex;
  flex-direction: column;
  
}

.appHeader, .messageBoard{
  align-self: center;
  }

.appHeader h1{
  font-size: 3em;
}

  .form{
    align-self: center;
    }

 input, select,textarea, button {
   display: block;
   margin-bottom: 10px;
 }

 .grid-view {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.grid-view div.card.ui {
  margin: 1.25rem;
}

/*nav*/
.mainNav{
display: flex;
box-shadow: 0 0 5px 2px #aaa;

}

nav{
  display: flex;
  padding: 15px;
  margin-left: 15px;
}

.nav-links {
 
  padding-right: 15px;
  color: #253B56;
  text-decoration: none;
  font-size: 14px;
  font-family: 'Lato';
 
}

.navContainer{
  margin-top: 30px;
}

.logoContainer{ 
  margin-top: 15px;
  margin-left: 15px;
}

.logo{
  padding-right: 15px;
}

/*validation*/
.error {
  display: inline;
  color: red;
}

/*button*/
.btn{
  background-color: #61941b;
  color: #fff;
  width: 130px;
  font-size: 20px;
  font-weight: 700; 
}